@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #36393f;
    color: white;
}

table {
  border-collapse: separate;
  border-spacing: 1em 2px;  
}

th {
  text-align: left;
}

input {
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #2f3136;
}

::-webkit-scrollbar-thumb {
  background-color: #202225;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #202225 #2f3136;
}

/* .table-container {
  max-height: 1200px;
  overflow-y: auto; 
  position: relative;
  width: 1200px;
  overflow-x: auto;
} */
